@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.hero-title {
  background: linear-gradient(225deg, #feb800, #fed693, #f3b900, #ffb702);
  background-size: 200% 200%;
  animation: rainbow 8s ease infinite;
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: 120;

}


.hero-title:before {
  content: '';
  z-index: 3;
  height: 30px;
  width: 300px;
  color: white;
  left: 30px;
  position: absolute;
  left: 0px;
}

.chat-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #1a1d29 #13191F;
}

.chat-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.chat-scrollbar::-webkit-scrollbar-thumb {
  background-color: #7775;
}

.chat-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

.chat-scrollbar::-webkit-scrollbar-track {
  background-color: #5555;
}

.chat-scrollbar::-webkit-scrollbar-track:hover {
  background-color: #555;
}

.swap-n,
.swap-e {
  position: relative; /* Ensure positioning for the transition */
  transition: left 0.3s ease-in-out, right 0.3s ease-in-out; 
}

.swap-on-hover:hover .swap-n {

  left: 0.6rem; /* Adjust as needed */
}

.swap-on-hover:hover .swap-e {

  right: 0.4rem; /* Adjust as needed */
}

.banner-neon {
  z-index: 1;
  animation: neon 1.5s ease-in-out infinite alternate;
}

.newest-trade {
  z-index: 1;
  animation: mini-neon 3s ease-in-out infinite alternate;
}

.ticker-highlight {
  z-index: 1;
  animation: ticker-neon 3s ease-in-out infinite alternate;
}

.good-title {
  z-index: 1;
  animation: good-neon 3s ease-in-out infinite alternate;
}

.hourly-bera-title {
  animation: good-neon 3s ease-in-out infinite alternate;
}

.call-to-action-btn {
  background: #FFB702;
  color: black;
  font-weight: 700;
  width: 300px;
  padding: 0.5rem;
  border-radius: 1rem;
}

.tradecard-gradient-0 {
  background: radial-gradient(farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.tradecard-gradient-1 {
  background: rgb(49,14,104);
  background: linear-gradient(180deg, rgba(49,14,104,1) 0%, rgba(95,15,64,1) 100%);
}

.tradecard-gradient-2 {
  background: rgb(101,255,63);
  background: linear-gradient(180deg, rgba(15,106,40,1) 0%, rgba(101,255,63,1) 100%);
}

.tradecard-gradient-3 {
  background: rgb(10,6,48);
  background: linear-gradient(180deg, rgba(10,6,48,1) 0%, rgba(49,110,225,1) 100%);
}

.tradecard-gradient-4 {
  background: rgb(240,179,182);
  background: linear-gradient(180deg, rgba(181,1,43,1) 0%, rgba(240,179,182,1) 100%);
}

.tradecard-gradient-5 {
  background: rgb(20,80,68);
  background: linear-gradient(180deg, rgba(20,80,68,1) 0%, rgba(29,185,166,1) 100%);
}

.tradecard-gradient-6 {
  background: rgb(80,20,26);
  background: linear-gradient(180deg, rgb(61, 15, 19) 0%, rgba(185,29,45,1) 100%);
}

.tradecard-gradient-7 {
  background: rgb(53,64,224);
  background: linear-gradient(180deg, rgba(53,64,224,1) 0%, rgba(115,240,225,1) 100%);
}

.tradecard-gradient-8 {
  background: rgb(195,122,47);
  background: linear-gradient(180deg, rgba(195,122,47,1) 0%, rgba(255,216,80,1) 100%);
}

.tradecard-gradient-9 {
  background: rgb(131,58,180);
  background: linear-gradient(176deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.tradecard-gradient-10 {
  background: rgb(175,173,80);
  background: linear-gradient(180deg, rgba(175,173,80,1) 0%, rgba(244,241,122,1) 100%);
}

.tradecard-gradient-11 {
  background: rgb(249,63,72);
  background: linear-gradient(180deg, rgba(249,63,72,1) 0%, rgba(255,168,172,1) 100%);
}

.banner-image-shadow {
  left: 0px;
  animation: banner-buzz 10s ease-in-out infinite;
}

.banner-image-levitate {
  bottom: -20px;
  animation: levitate 10s infinite;
}

.card-image-shadow {
  right: 0px;
  animation: card-image-buzz 10s ease-in-out infinite;
  opacity: 40%;
}

.card-image-shadow-delayed {
  right: 0px;
  animation: card-image-buzz-delayed 10s ease-in-out infinite;
  opacity: 40%;
}



@keyframes rainbow {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }

}

@keyframes mini-neon {
  from {
    text-shadow: 0 0 3px #fff, 0 0 7px #fff, 0 0 10px #fff, 0 0 12px #FFB702,
      0 0 17px #FFB702, 0 0 26px #FFB702, 0 0 33px #FFB702;
  }
  to {
    text-shadow: 0 0 0px #fff, 0 0 4px #fff, 0 0 5px #fff, 0 0 7px #FFB702,
      0 0 7px #FFB702, 0 0 11px #FFB702, 0 0 15px #FFB702, 0 0 25px #FFB702;
  }
}

@keyframes good-neon {
  from {
    text-shadow: 0 0 3px #10DA5D, 0 0 7px #10DA5D, 0 0 10px #10DA5D, 0 0 12px #10DA5D,
      0 0 17px #10DA5D, 0 0 26px #10DA5D, 0 0 33px #10DA5D;
  }
  to {
    text-shadow: 0 0 0px #10DA5D, 0 0 4px #10DA5D, 0 0 5px #10DA5D, 0 0 7px #10DA5D,
      0 0 7px #10DA5D, 0 0 11px #10DA5D, 0 0 15px #10DA5D, 0 0 25px #10DA5D;
  }
}

@keyframes ticker-neon {
  from {
    text-shadow: 0 0 3px #ff00de, 0 0 7px #ff00de, 0 0 10px #ff00de, 0 0 12px #ff00de,
      0 0 17px #ff00de, 0 0 26px #ff00de, 0 0 33px #ff00de;
  }
  to {
    text-shadow: 0 0 0px #ff00de, 0 0 4px #ff00de, 0 0 5px #ff00de, 0 0 7px #ff00de,
      0 0 7px #ff00de, 0 0 11px #ff00de, 0 0 15px #ff00de, 0 0 25px #ff00de;
  }
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    text-shadow: 0 0 0px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
      0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}

@keyframes banner-buzz {
  0% {
    left: 0px;
    bottom: -20px;
  }
  2% {
    left: 4px;
    bottom: -16px;
    opacity: 80%;
  }
  3% {
    left: 0px;
    bottom: -20px;
  }
  4% {
    left: 4px;
    bottom: -16px;
    opacity: 80%;
  }
  6% {
    left: 0px;
    bottom: -20px;
  }
  100% {
    left: 0px;
    bottom: -20px;
  }
}
@keyframes levitate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
    /* transform: translateX(-6px); */
  }

  100% {
    transform: translateY(0);
    /* transform: translateX(0); */
  }
}
@keyframes card-image-buzz {
  0% {
    right: 0px;
    opacity: 40%;
    bottom: 0;
  }
  20% {
    right: 0px;
    opacity: 40%;
    bottom: 0;
  }
  22% {
    right: -3px;
    opacity: 40%;
    bottom: 3px;
  }
  23% {
    right: 0px;
    opacity: 40%;
    bottom: 0px;
  }
  24% {
    right: -3px;
    opacity: 40%;
    bottom: 3px;
  }
  26% {
    right: 0px;
    opacity: 40%;
    bottom: 0px;
  }
  100% {
    right: 0px;
    opacity: 40%;
    bottom: 0px;
  }
}

@keyframes card-image-buzz-delayed {
  0% {
    right: 0px;
    opacity: 40%;
    bottom: 0;
  }
  50% {
    right: 0px;
    opacity: 40%;
    bottom: 0;
  }
  52% {
    right: -3px;
    opacity: 40%;
    bottom: 3px;
  }
  53% {
    right: 0px;
    opacity: 40%;
    bottom: 0px;
  }
  54% {
    right: -3px;
    opacity: 40%;
    bottom: 3px;
  }
  56% {
    right: 0px;
    opacity: 40%;
    bottom: 0px;
  }
  100% {
    right: 0px;
    opacity: 40%;
    bottom: 0px;
  }
}
